In [15]:
def show():
    print('hello')

    
show()

hello

In [4]:
def sqr(x):
    return x*x

print(sqr(3))
sqr(5)

9

25

In [40]:
class MY:
   
    
    def show(self):
        print('hello in class')
    
    
    def sqr(self,v):
        self.show()
        return v*v

In [41]:

o1 = MY()
o1.show()
print(o1.sqr(9))

hello in class
hello in class
81

In [45]:
class MY:
    
    def __init__(self):
        self.name = 'ali'
    
    def show(self):
        print('hello in class: ',self.name)
    
    
    def sqr(self,x):
        return x*x

In [46]:
o1 = MY()
o1.show()

hello in class:  ali

In [47]:
class MY:
    
    
    def __init__(self,n,c,u):
        self.name = n
        self.cgpa = c
        self.uni = u
    
    def show(self):
        print('hello in class: ',self.name,self.cgpa,self.uni)
    
    
    def sqr(self,x):
        return x*x

In [35]:
o = mY()
o1 = MY('ali',2.8,'CUI')
o1.show()

o2 = MY('lasj',2.9,'CUI')
o2.show()

o3 = MY('aioew',3.8,'CUI')
o3.show()

hello in class:  ali 2.8 CUI
hello in class:  lasj 2.9 CUI
hello in class:  aioew 3.8 CUI

In [48]:
class MY:
    
    uni = 'CUI'
    
    
    def __init__(self,n,c):
        self.name = n
        self.cgpa = c
    
    def show(self):
        print('hello in class: ',self.name,self.cgpa,MY.uni)
    
    
    def sqr(self,x):
        return x*x

In [29]:
o1 = MY('ali',2.8)
o1.show()

o2 = MY('lasj',2.9)
o2.show()

o3 = MY('aioew',3.8)
o3.show()

hello in class:  ali 2.8 CUI
hello in class:  lasj 2.9 CUI
hello in class:  aioew 3.8 CUI

In [33]:
li = [1,2,3]
print(*li)

1 2 3

In [49]:
class Node:
    
    def __init__(self, v):
        self.val = v
        self.left = None
        self.right = None

In [34]:
    
def insert( root, node):
    
    if root is None:
        return node
    
    if root.val > node.val:
        root.left = insert(root.left,node)

    elif root.val < node.val:
        root.right = insert(root.right,node)

    return root

In [53]:
def inOrder(root):

    if not root:
        return None
    else:
        inOrder(root.left)
        print(root.val)
        inOrder(root.right)

In [54]:
root = Node(10)
a= Node(5)
insert(root,a)
insert(root,Node(3))
insert(root,Node(7))
insert(root,Node(15))
insert(root,Node(12))
insert(root,Node(17))
inOrder(root)

3
5
7
10
12
15
17

In [56]:
class Node:
    
    def __init__(self, v):
        self.val = v
        self.left = None
        self.right = None
        
        
    
def insert( root, node):

    if root is None:
        return node

    if root.val > node.val:
        root.left = insert(root.left,node)

    elif root.val < node.val:
        root.right = insert(root.right,node)

    return root

def inOrder(root):

    if not root:
        return None
    else:
        inOrder(root.left)
        print(root.val)
        inOrder(root.right)
        

        
root = Node(10)

insert(root,Node(5))
insert(root,Node(3))
insert(root,Node(7))
insert(root,Node(15))
insert(root,Node(12))
insert(root,Node(17))
inOrder(root)

3
5
7
10
12
15
17

In [57]:
val = [10,5,3,7,15,12,17]

root = Node(val[0])

for i in val:
    insert(root,Node(i))
    
inOrder(root)

3
5
7
10
12
15
17

In [58]:
st = 'ali is boy and what are you doing'
st

'ali is boy and what are you doing'

In [60]:
ab = st.split(' ')
ab

['ali', 'is', 'boy', 'and', 'what', 'are', 'you', 'doing']

In [62]:
li = []

for i in ab:
    li.append(len(i))

In [63]:
li

[3, 2, 3, 3, 4, 3, 3, 5]

In [65]:
list(set(li))

[2, 3, 4, 5]